/* JORDAN SPRINGVELDT */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    background-color: #4766B8;
    margin: 0;
    padding: 0;
}

#page {
    width: 810px;
    background-color: white;
    margin: 10px auto;
    border: 2px solid black;
    padding: 10px;
}

#banner {
    margin: 0 auto 1em;
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: center; /* Centering the image */
}

#banner img {
    max-height: 85px; /* Keep the image from exceeding the height */
    max-width: 100%; /* Ensure image is responsive */
}

#sidebar {
    width: 150px;
    height: auto; /* Allow height to adjust based on content */
    background-color: white;
    margin-bottom: .7em;
    float: left;
}

#main {
    margin-left: 160px; /* Adjusted for sidebar width */
}

.copyright {
    font-size: 90%;
    text-align: right;
    margin: 0;
}

/* The styles for the table */
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%; /* Ensure table takes full width of main section */
}

th, td {
    border: 1px solid black;
    padding: .2em .7em;
    font-size: 95%;
}

.alignRight {
    text-align: right;
}

#footer {
    margin-top: 0.5em;
    border-top: 2px solid gray;
    padding-top: 0.7em;
    clear: left;
}
